@charset "UTF-8";

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-Bold.woff2") format("woff2"), url("../fonts/CeraPRO-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-MediumItalic.woff2") format("woff2"), url("../fonts/CeraPRO-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-BlackItalic.woff2") format("woff2"), url("../fonts/CeraPRO-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-Light.woff2") format("woff2"), url("../fonts/CeraPRO-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-RegularItalic.woff2") format("woff2"), url("../fonts/CeraPRO-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-ThinItalic.woff2") format("woff2"), url("../fonts/CeraPRO-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-Regular.woff2") format("woff2"), url("../fonts/CeraPRO-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraStencilPRO;
  font-display: swap;
  src: url("../fonts/CeraStencilPRO-Black.woff2") format("woff2"), url("../fonts/CeraStencilPRO-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: CeraStencilPRO;
  font-display: swap;
  src: url("../fonts/CeraStencilPRO-Bold.woff2") format("woff2"), url("../fonts/CeraStencilPRO-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CeraStencilPRO;
  font-display: swap;
  src: url("../fonts/CeraStencilPRO-Light.woff2") format("woff2"), url("../fonts/CeraStencilPRO-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: CeraStencilPRO;
  font-display: swap;
  src: url("../fonts/CeraStencilPRO-Medium.woff2") format("woff2"), url("../fonts/CeraStencilPRO-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CeraStencilPRO;
  font-display: swap;
  src: url("../fonts/CeraStencilPRO-Regular.woff2") format("woff2"), url("../fonts/CeraStencilPRO-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPRO;
  font-display: swap;
  src: url("../fonts/CeraPRO-Medium.woff2") format("woff2"), url("../fonts/CeraPRO-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "CeraPRO";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "CeraPRO";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9375rem 5rem;
  line-height: normal;
  color: #f4f4f4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.3125rem;
  font-weight: 400;
  background: #121a24;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.button._fw {
  width: 100%;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__title {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.tabs__content {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
  /* Style for "Опис вироб" */
  font-size: 1.5625rem;
  font-weight: 600;
}

.title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5rem;
}

.header__logo {
  position: relative;
}

.header__menu {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 0.625rem;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-open .menu .menu__body {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
  -webkit-column-gap: 0.8125rem;
     -moz-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  bottom: 0;
  left: 0%;
  background: #121a24;
  width: 0%;
  height: 0rem;
}

.menu__link {
  /* Style for "Опис вироб" */
  font-style: normal;
  line-height: 200%;
  color: #121a24;
  font-size: 1.0625rem;
  font-weight: 400;
}

.icon-menu {
  display: none;
}

.about__container {
  max-width: 43.75rem;
}

.about__title {
  text-align: center;
  /* Style for "Хто ми є" */
  color: #121a24;
  font-size: 1.4375rem;
  font-weight: 600;
}

.about__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about__text {
  margin: 0 auto;
  max-width: 40.625rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
  font-weight: 400;
}

.about__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.item-about__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.item-about__text {
  max-width: 25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #121a24;
  font-size: 1.125rem;
  font-weight: 400;
}

.counters__item {
  color: #e2e2e2;
  font-size: 6.25rem;
  font-weight: 900;
}

.counters__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 0 auto;
}

.describe:not(:last-child) {
  margin-bottom: 6.25rem;
  margin-top: 6.25rem;
}

.describe__title {
  padding-bottom: 1.25rem;
}

.describe__title .tab-active {
  border-bottom: 2px solid #121a24;
}

.describe__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #e2e2e2;
}

.describe__navigation:not(:last-child) {
  margin-bottom: 3.75rem;
}

.describe__body {
  max-width: 25rem;
  margin: 0 auto;
  /* Style for "nostrud ex" */
  /* Text style for "nostrud ex" */
  color: #121a24;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 170%;
}

/* Style for "Tканина та" */

.title-tabs {
  color: #121a24;
  font-size: 1.125rem;
  font-weight: 400;
}

.title-tabs._tab-active {
  border-bottom: 2px solid #121a24;
}

@media (min-width: 85em) {
  .header__logo img {
    width: 13.75rem;
  }

  .describe__navigation {
    -webkit-column-gap: 13.75rem;
       -moz-column-gap: 13.75rem;
            column-gap: 13.75rem;
  }
}

@media (max-width: 20em) {
  .header__logo img {
    width: 6.25rem;
  }

  .describe__navigation {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .describe__navigation {
    border-bottom: none;
  }

  .describe__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.875rem;
  }

  .describe__body {
    max-width: 15.625rem;
  }

  .title-tabs {
    padding-bottom: 1.25rem;
    border-bottom: 2px solid #121a24;
    width: 70%;
  }
}

@media (max-width: 43.75em) {
  .header__menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .menu__body {
    padding-top: 6.875rem;
    padding-bottom: 2.5rem;
    position: fixed;
    left: -100%;
    top: 0;
    background: #ffffff;
    overflow: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 100%;
    z-index: 1;
  }

  .menu__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    z-index: 22;
    width: 1.875rem;
    height: 1.125rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 43.75em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 40.625em) {
  .item-about__counters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-about__text {
    max-width: none;
    text-align: center;
  }

  .counters__item {
    margin: 0 auto;
  }
}

@media (min-width: 20em) and (max-width: 85em) {
@supports (width: clamp( 6.25rem , 3.9423076923rem  +  11.5384615385vw , 13.75rem )) {
    .header__logo img {
      width: clamp( 6.25rem , 3.9423076923rem  +  11.5384615385vw , 13.75rem );
    }
}

@supports not (width: clamp( 6.25rem , 3.9423076923rem  +  11.5384615385vw , 13.75rem )) {
    .header__logo img {
      width: calc(6.25rem + 7.5 * (100vw - 20rem) / 65);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem )) or (column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem ))) {
    .describe__navigation {
      -webkit-column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem );
         -moz-column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem );
              column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem )) or (column-gap: clamp( 1.875rem , -1.7788461538rem  +  18.2692307692vw , 13.75rem ))) {
    .describe__navigation {
      -webkit-column-gap: calc(1.875rem + 11.875 * (100vw - 20rem) / 65);
         -moz-column-gap: calc(1.875rem + 11.875 * (100vw - 20rem) / 65);
              column-gap: calc(1.875rem + 11.875 * (100vw - 20rem) / 65);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: #252627;
  }

  .menu__item:hover::before {
    content: "";
    left: 0;
    width: 100%;
    height: 0.125rem;
  }
}